.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 0;
  gap: 64px;
  font-family: var(--font-geist-sans);

  /* Background setup */
  background-image: url("/img/background-linear.png"),
    url("/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  text-align: center;
  padding: 0 16px;
  over-flow: hidden;
}

.comingsoon {
  color: black;
  font-size: 3rem;
  margin: 16px 0;
}

.ctas {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.logo {
  width: 80%;
  max-width: 300px; /* Limit the maximum width to prevent it from getting too large */
  height: auto; /* Maintain the aspect ratio */
  margin: 0 auto; /* Center the logo */
}

@media (min-width: 768px) {
  .logo {
    width: auto;
    max-width: 400px; /* Larger screens get a bigger logo */
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 50%;
    max-width: 500px; /* Even bigger for desktop */
  }
}

a.primary {
  background: #1877f2;
  color: white;
  gap: 8px;
}

a.secondary {
  border-color: white;
  color: black;
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

/* Responsiveness: Tablets */
@media (max-width: 768px) {
  .comingsoon {
    font-size: 2.5rem;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 1rem;
    height: 44px;
    width: 100%;
    padding: 0 16px;
  }
}

/* Responsiveness: Mobile Phones */
@media (max-width: 480px) {
  .comingsoon {
    font-size: 2rem;
  }

  .ctas a {
    font-size: 0.9rem;
    height: 40px;
    padding: 0 12px;
  }

  .page {
    padding: 32px;
  }

  .ctas {
    gap: 12px;
  }
}

/* Hover styles */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    color: black;
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
